* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: hsl(30, 54%, 90%);
    padding: 100px 0;
    word-spacing: 2px;
    height:100vh;
}

main {
    background-color:hsl(0, 0%, 100%);
    width: 55%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 25px;
}

section, header {
    margin: 15px;
}

h1, h2 {
    font-family: "Young Serif", serif;
    font-weight: 400;
}

h3, p, ul, ol, table, footer {
    font-family: "Outfit", sans-serif;
}

h1 {
    font-size: 38px;
    margin: 20px auto;
    color: hsl(24, 5%, 18%);
}

h2 {
    font-size: 28px;
    margin-bottom: 15px;
}

h3 {
    color: hsl(332, 51%, 32%);
}

p {
    font-size: 16px;
    font-weight: 400;
}

p, li, td:nth-child(odd) {
    color: hsl(30, 10%, 34%);
}

h2, .ingredients li::marker, .instructions li::marker, td:nth-child(even) {
    color: hsl(14, 45%, 36%);
}

.overview {
    margin-bottom: 35px;
}

.preparation {
    background-color: hsl(330, 100%, 98%);
    padding: 5px 30px;
    border-radius: 12px;
}

li {
    padding-bottom: 12px;
    padding-left: 12px;
}

.preparation li::marker {
    color: hsl(332, 51%, 32%);
}

.ingredients, .instructions {
    padding-bottom: 20px;
}

.ingredients, .instructions, tr:nth-child(-n + 3) {
    border-bottom: solid 1px hsl(30, 18%, 87%);
}

.ingredients ul, .instructions ol {
    padding-left: 25px;
    margin: 0;
}

.instructions li::marker {
    font-weight: 600;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 15px;
}

td:nth-child(even) {
    font-weight: 700;
}

td:nth-child(odd) {
    padding-left: 30px;
    width: 45%;
}

img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 10px;
}

a, a:active, a:visited {
    color: #000;
    text-decoration: none;
}

footer {
    font-size: 14px;
    width: 55%;
    padding: 50px;
    margin: auto;
    text-align: center;
}

/* For mobile devices */
@media (max-width: 767px) {
    body, main {
        padding: 0;
    }

    section {
        margin: 0 30px;
    }
    main, footer {
        width: 100%;
    }

    header {
        margin: 0;
    }

    img, main {
        border-radius: 0%;
    }

    footer {
        background-color:hsl(0, 0%, 100%);
    }
  }